@model List<Collection>

@foreach (var obj in Model)
{
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">@obj.Name</h5>

            @if (@obj.Description.Length > 50)
            {
                <p class="card-text">
                    @obj.Description.Substring(0, 50) ...
                </p>
            }
            else
            {
                <p class="card-text">
                    @obj.Description
                </p>
            }

            <a asp-controller="Collection" asp-action="Index" asp-route-Id="@obj.Id" class="btn btn-primary">Go to collection page</a>
        </div>
    </div>
}


